<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Linq2SqlConcepts.Properties.Settings.northwndConnectionString"
            connectionString="Data Source=ACOLUSSI-PC\SQLEXPRESS;Initial Catalog=northwnd;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>